.exam{
    display: none;
}

.question-section{
    display: grid;
    grid-template-columns: 70% 30%;
    margin: 30px 8%;
    grid-gap: 20px;
}

.timer{
    padding: 10px 5px 20px;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
}

.timer i{
    padding-right: 10px;
}

.question-container h2{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    padding: 10px 0;
}

.question{
    background-color: #232527;
    padding: 10px 20px;
}

.question p{
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: justify;
}

.question img{
    margin-top: 10px;
}

.option{
    margin-top: 20px;
}

.option div{
    margin: 10px 0;
    padding: 10px;
    background-color: #232527;
    display: flex;
    align-items: center;
}

#option{
    font-size: 40px;
    width: 18px;
    height: 18px;
    margin-right: 10px;
}



.tracker{
    margin: 10px 0;
}

.exam-btn{
    margin: 0 10px;
}

.exam-btn button{
    margin-right: 20px;
    padding: 10px 25px;
    background-color: white;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
}

.exam-btn button:hover{
    background-color: rgb(208, 208, 208);
}


.questions-list {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-top: 40px;
}

.question-list{
    background-color: #232527;
    margin: 10px;
    padding: 10px 8px;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
}

.questions-list-changer{
    display: flex;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0 10px 20px;

}

.questions-list-changer p{
    padding-right: 10px;
}

.warning-container{
    display: none;
    position: absolute;
    bottom: 20px;
    right: 50px;
    color: white;
}

.warning{
    margin: 10px 0;
    padding: 15px;
    background-color: #232527;
    display: flex;
    align-items: center;
}

.time{
    position: relative;
    right: -5px;
    bottom: -18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;  
    color: rgba(255, 255, 255, 0.5);
}

.warning h3{
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}

.warning i{
    color: white;
    cursor: pointer;
}

.fa-xmark{
    position: absolute;
    right: 10px;
    font-size: 30px;
}

.fa-circle-exclamation{
    font-size: 30px;
    padding-right: 20px;
}

.warning p{
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF80;;
}